<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>{ifset title}{include title|stripHtml} | {/ifset}Tomáš Stehlík - Admin</title>
</head>

<body>
<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" n:href=":Homepage:default">Tomáš Stehlík</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a n:href=":Posts:default">Stránka s příspěvky</a></li>
            <li><a n:href=":MenuItems:default">Dynamické položky menu</a></li>
            <li><a href="{$basePath}/cv/Stehlik_CV.pdf" target="_blank">CV</a></li>
            {if $user->isInRole('admin')}
                <li><a href="admin">Admin</a></li>
            {/if}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a n:href=":Sign:out"><span class="glyphicon glyphicon-log-out"></span> Odhlásit se</a></li>
        </ul>
    </div>
</nav>

{include content}

	{block scripts}
    <script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
{/block}
</body>
</html>
