html,
body {
    margin: 0px;
    height: 100%;
}
.box {
    background-image: url('../img/background.jpg');
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size:30px;
    font-family: Dubai;
}
